.archive {
    .teaser {
        padding: 0 15px;
    }

    &__inner--sm {
        max-width: 800px;
    }

    &__item {
        padding: 30px 0;
        border-top: 2px solid #eee;

        &:first-child {
            border-top: 0;
        }

        h3 {
            margin-bottom: 15px;
            color: $brandBlue;
        }

        .item__content {
            p {
                @extend .text--body-1;
                margin-bottom: 0;
            }
        } 
    }

    &__pagination {
        margin-top: 60px;
        
        &:before {
            content: '';
            display: block;
            width: calc(100% - 15px);
            height: 2px;
            background-color: #eee;
            margin-bottom: 30px;
        }

        ul {
            display: inline-flex;
            width: fit-content;
            margin: auto;
            text-align: center;
            padding-left: 0;

            li {
                margin-right: 10px;
                color: $mediumBlue;
                background-color: transparent;
                padding: 0;

                a, span {
                    display: block;
                    padding: 3px 15px;
                    border: 2px solid #eee;
                    overflow: hidden;
                    color: $mediumBlue;
                    font-size: 16px;
                    font-weight: 700;
                }

                a:hover {
                    background-color: #eee;
                    border-color: transparent;
                    color: $brandBlue;
                }

                a.next, a.prev {
                    border: none;
                    overflow: auto;

                    &:hover {
                        background: none;
                        color: $brandBlue;
                    }
                }

                &:first-child a {
                    padding-left: 0;
                }

                span.current {
                    background-color: #eee;
                    border: 1px solid #eee;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}