a.btn,
button.btn,
input[type="submit"] {
    appearance: none;
    font-family: $fontFamily;
    background-color: $brandBlue;
    text-transform: none;
    padding: 15px 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: $white;
    width: fit-content;
    font-size: 16px;

    &:hover {
        background-color: $darkBlue;
        color: $white;
    }

    &--inverse {
        background-color: $white;
        color: $brandBlue;
    }

    &--underline {
        font-size: 16px;
        font-weight: 700;
        width: fit-content;
        color: $brandBlue;

        span {
            position: relative;
            overflow: hidden;
        }

        span:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -3px;
            right: 0;
            background-color: $mediumBlue;
            transition: width 0.3s $cbTrans;
        }

        span:hover:after {
            width: 0;
        }
        
    }
}
