.featured-content {
    .title-card {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        justify-content: space-between;

        @include breakFirst($screen-md) {
            padding-bottom: 0;
        }
    }

    .teaser {
        &:last-of-type {
            margin-bottom: 0;
        }

        @include breakFirst($screen-md) {
            padding-right: 30px;
            margin-bottom: 0;

            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}