.footer {
    background-color: $darkBlue;
    color: $white;
    border-top: 1px solid rgba(255, 255, 255, 0.15);

    &__content {
        border-bottom: 1px solid rgba(255,255,255,0.15);

        &-wrapper {
            padding: 45px 30px;

            @include breakFirst($screen-lg){
                padding: 45px 15px;
            }
        }

        .logo {
            width: 141px;
            height: 128px;
            margin-bottom: 15px;
        }

        .bucket {
            color: $white;
            font-size: 16px;
            margin-bottom: 60px;

            &:last-child {
                margin-bottom: 0;
            }

            @include breakFirst($screen-md) {
                margin-bottom: 0;
            }
            
            &__content p {
                line-height: 1.4;
                margin-bottom: 0;
                display: block;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__title {
                text-transform: capitalize;
                margin-bottom: 15px;
            }

            &__list {
                font-size: 14px;
            }

            &__container--media,
            &__container--media-none {
                position: relative;
                width: 100%;
                height: 0px;
                overflow: hidden;
                padding-bottom: 56.25%;
            }

            &__container--media .acf-map {
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0 0 0 0;
            }

            &__container--media-none {
                @include background-opacity($white, 0.05);
            }
        }
    }

    &__bottom {
        padding: 15px 30px;

        @include breakFirst($screen-lg){
            padding: 15px;
        }

        &-credit {
            font-size: 14px;
        }
    }
}