// Content Row
.content-row {
    padding: 30px 15px;

    @include breakFirst($screen-md) {
        padding: 60px 15px;
    }
}

// Title Card

.title-card h2{
    margin-bottom: 15px;
}

// Teaser

.teaser {
    margin-bottom: 30px;

    .media__img {
        padding-bottom: 56.25%;
        margin-bottom: 15px;

        @include breakFirst ($screen-md) {
            padding-bottom: 75%;
        }
    }

    &--card {
    .teaser__text {
            padding: 30px 0;

            &-inner {
                width: 90%;
            }

            h2 {
                margin-bottom: 15px;
            }

            p {
                margin-bottom: 30px;
            }

            @include breakFirst($screen-lg) {
                padding: 30px 45px;
            }
        }

        


    }
}

// Stat Group

.stat-group {

    &__list {
        list-style: 0;
        padding-left: 0;
        flex-wrap: wrap;
    }

    &__list li {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakFirst($screen-md) {
            margin-bottom: 30px;
        }
    }
}

// Item List

.item-list {
    ul {
        list-style: disc;
        padding-left: 15px;

        @include breakFirst($screen-md) {
            columns: 2;
            column-gap: 30px;
        }

        li {
            @extend .text--body-1;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.gallery {
    &__inner {
        margin-bottom: 15px;
        .media__img {
            padding-bottom: 56.25%;

            @include breakFirst($screen-lg) {
                padding-bottom: 75%;
            }
        }

        .media__img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__nav {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: auto;

        .media__img {
            position: relative;
            width: 100px;
            height: 60px;
            margin-right: 10px;
            overflow: hidden;
            opacity: 0.3;
            
            &:last-child {
                margin-right: 0;
            }

            &.is-selected {
                opacity: 1;
            }
        }
    }
}

// WYSIWYG
.wysiwyg {
    max-width: 800px;
    margin: auto;

    p {
        @extend .text--body-1;
    }

    p strong {
        color: $darkBlue;
    }

    p a {
        color: $mediumBlue;
        box-shadow: inset 0 -1px 0 0 $darkBlue;
        transition: box-shadow 0.3s $cbTrans;
        
        &:hover {
            box-shadow: inset 0 -17px 0 0 $darkBlue;
            color: $white;
        }
        
    }

    blockquote {
        position: relative;
        padding: 15px 0 0 40px;
        font-style: italic;
        
        &:before {
            content: '';
            display: block;
            background: url(../img/quotes.svg) no-repeat center center / cover;
            width: 27px;
            height: 19px;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    img {
        width: 100%;
        height: auto;
    }
    
    .nf-form-wrap {

        .nf-response-msg p {
            background-color: rgba(100, 225, 100, .25);
            display: block;
            margin-bottom: 10px;
            padding: 8px 12px;
            color: darkgreen;
        }
    }

    .nf-form-layout {

        .nf-error, .nf-error-msg {
            color: $red;
        }

        .nf-error.field-wrap .nf-field-element:after {
            background-color: $red;
        }

        .nf-error .ninja-forms-field {
            border-color: $red !important;
        }

        .nf-form-content, .nf-cell {
            padding: 0;
            color: $mediumBlue;
        }

        .firstname-container {
            @include breakFirst($screen-sm) {
                padding-right: 15px;
            } 
        }

        .lastname-container {
            @include breakFirst($screen-sm) {
                padding-left: 15px;
            } 
        }

        .nf-form-content {
            background: none;
            border: 0;
        }

        .nf-form-content textarea,
        .nf-form-content input[type="text"],
        .nf-form-content input[type="email"],
        .nf-form-content select,
        .nf-form-content .list-select-wrap .nf-field-element > div {
            border: 0;
            background: transparent;
            border-bottom: 2px solid $mediumBlue;
            color: $mediumBlue;

            &:focus {
                background-color: #eee;
            }
        }

        .nf-form-content .list-select-wrap .nf-field-element > div:after {
            font-size: 16px;
            color: $darkBlue;
        }

        .nf-field-container {
            border: 0;
            border-color: none;
        }

        .nf-field-element input[type="submit"] {
            padding: 15px 30px;
            height: auto;
            @extend .btn;
            @extend .text--body-1;
            border-radius: 30px;
            color: $white;
            background-color: $darkBlue;
            font-family: $fontFamily;
            text-transform: capitalize;

            &:hover {
                background-color: $red;
            }
        }

        .nf-form-content select > div {
            border: 0 !important;
        }
    }
}