.text {
    &--body-1 {
        color: $mediumBlue;
        line-height: 1.4;
        font-size: 16px;
    }

    &--body-2 {
        color: $mediumBlue;
        line-height: 1.4;
        font-size: 20px;
    }

    &--body-bold {
        color: $mediumBlue;
        font-weight: 700;
    }

    &--heading-1 {
        font-size: 48px;
        text-transform: capitalize;

        @include breakFirst($screen-md) {
            font-size: 56px;
        }

        @include breakFirst($screen-lg) {
            font-size: 84px;
        }
    }

    &--heading-2 {
        font-size: 36px;
        text-transform: capitalize;

        @include breakFirst($screen-md) {
            font-size: 48px;
        }
    }

    &--heading-3 {
        font-size: 20px;
        text-transform: capitalize;
    }

    &--label {
        color: $mediumBlue;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 18px;

        &-md {
            font-weight: 700;
        }
    }

    &--label-lg {
        font-size: 20px;
        font-weight: 700;
    }
}